
/* Contenedor */
/* .skill__container {

} */
/* Grid de separacion entre contenidos */
.skills__content {
    grid-template-columns: repeat(2, 1fr);
}
/* Contenedor */
/* .skills__Card {

} */
.skills__tittle {
    text-align: center;
    padding-bottom: 1rem;
}
/* Grupo de solo cartas */
.skills__group{
    display: flex;
    justify-content: space-around;
    /* Otro espacio abajo automaticamente */
    flex-wrap: wrap; 
}
/* carta */
.skills__data {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 120px;
    margin: .3rem;
    background-color: #585f631e;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.skill__card--icon {
    font-size: var(--big-font-size);
}
.skills__data:hover .skill__card--icon{
    color: #6c63ff;
}

.contenedor__info {
    height: 35rem;
}
/* .contenedor__info--frontend {

} */
.contenedor__info--backend {
    margin-top: 2rem;
}
.skill__info--card {
    width: 100%;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 1rem;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: #585f631e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.skill__info--card:hover {
    border: solid 1px;
    border-color: #6c63ff;
    transform: rotate(-1deg);
}

.button__cv {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
}
.button__cv a {
    display: inherit;
    align-items: center;
}

@media screen and (max-width: 768px) {



}

@media screen and (max-width: 576px) {

    .skills__content {
        grid-template-columns: auto;
    }
    .contenedor__info--frontend {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .button__cv {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .contenedor__info--backend {
        margin-top: 0;
    }

}
