
.about_content {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.about__image {
    width: 412px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__data {
    padding: 1rem 1rem 0 1rem;
}
.about__title {
    font-weight: var(--font-semi-bold);
    /* margin-bottom: 1rem; */
}
.about__description {
    margin: 0 0 1rem 1rem;
}

#Gorrito {
    animation: gorroAnimated 2s infinite alternate;
    transform-box: fill-box;
}
@keyframes gorroAnimated{
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

.about__interests {
    height: 100px;
    /* padding-top: 120px; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}
.interests__container {
    display: inherit;
    justify-content: space-around;
}
.interest__icon {
    margin: 0 10px;
    padding: 10px;
    font-size: var(--big-font-size);
}
.interest__item{
    position: relative;
    overflow: hidden;
}
.interest__hover{
    /* Que se posicione en su padre */
    position: absolute;
    background: #6c63ff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 70%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Para que no se vean directamente */
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.interest__item:hover .interest__hover{
    transform: translateX(0%);
}

@media screen and (max-width: 768px) {

    .about__content {
        grid-template-columns: 1fr;
    }

    .about__image {
        width: auto;
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 3;
        align-items: stretch;
    }

}

@media screen and (max-width: 576px) {

    .about__image {
        overflow: hidden;
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .interest__title {
        font-size: var(--smaller-font-size);
    }

}

