
.Footer {
    background-color: #585f631e;
    position: relative;
}

.footer__wave {
    width: 100%;
    height: 300px;
    z-index: 0;
    top: 0;
}
.wave {
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
    0%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 115.0717703349282,188.555023923445 230.1435406698564,177.11004784688996 323,195 C 415.8564593301436,212.88995215311004 486.4976076555025,260.1148325358851 586,252 C 685.5023923444975,243.8851674641149 813.866028708134,180.43062200956942 897,169 C 980.133971291866,157.56937799043058 1018.0382775119617,198.16267942583733 1101,212 C 1183.9617224880383,225.83732057416267 1311.9808612440193,212.91866028708134 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 123.98086124401911,210.7081339712919 247.96172248803822,221.41626794258374 335,197 C 422.0382775119618,172.58373205741626 472.13397129186615,113.04306220095694 569,134 C 665.8660287081339,154.95693779904306 809.5023923444976,256.41148325358853 914,260 C 1018.4976076555024,263.58851674641147 1083.8564593301435,169.311004784689 1165,143 C 1246.1435406698565,116.688995215311 1343.0717703349283,158.3444976076555 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 123.79904306220095,211.96172248803828 247.5980861244019,223.92344497607655 332,238 C 416.4019138755981,252.07655502392345 461.4066985645934,268.26794258373207 537,242 C 612.5933014354066,215.7320574162679 718.7751196172248,147.00478468899522 835,138 C 951.2248803827752,128.99521531100478 1077.4928229665072,179.7129186602871 1180,200 C 1282.5071770334928,220.2870813397129 1361.2535885167463,210.14354066985646 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 89.2153110047847,157.8468899521531 178.4306220095694,115.69377990430621 283,128 C 387.5693779904306,140.3062200956938 507.4928229665072,207.07177033492823 597,213 C 686.5071770334928,218.92822966507177 745.5980861244019,164.01913875598086 823,170 C 900.4019138755981,175.98086124401914 996.1148325358852,242.8516746411483 1102,258 C 1207.8851674641148,273.1483253588517 1323.9425837320573,236.57416267942585 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 115.0717703349282,188.555023923445 230.1435406698564,177.11004784688996 323,195 C 415.8564593301436,212.88995215311004 486.4976076555025,260.1148325358851 586,252 C 685.5023923444975,243.8851674641149 813.866028708134,180.43062200956942 897,169 C 980.133971291866,157.56937799043058 1018.0382775119617,198.16267942583733 1101,212 C 1183.9617224880383,225.83732057416267 1311.9808612440193,212.91866028708134 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}
.footer__content {
    grid-template-areas:
    "image     image"
    "data      redes"
    "gratitude gratitude";
    height: 400px;
    padding: 0 2rem 2rem;
}
.footer__data {
    grid-area: data;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__redes {
    grid-area: redes;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.footer__icons {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--tittle-color)
}
.footer__gratitude {
    grid-area: gratitude;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bxs-heart {
    color: red;
}

@media screen and (max-width: 768px) {
    .footer__wave {
        height: 150px;
    }
}

@media screen and (max-width: 576px) {

    .footer__content {
        grid-template-areas:
        "image     image"
        "data      data"
        "redes     redes"
        "gratitude gratitude";
    }
    .footer__data-div {
        display: inherit;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

/* For small devices */
@media screen and (max-width: 350px) {
  
}